.footer-container{
    display: flex;
    height: 30rem;
    background-color: var(--dark-purple);
    justify-content: space-around;
}

.links-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-container a{
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    margin: 1rem;

}


.created-by{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   
}

.text-footer h4{
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 2rem;
}

